@import 'tailwindcss';
@import '@navikt/ds-css' layer(components);
@config "../tailwind.config.ts";

.deltakelse-wrapper {
  background: var(--ax-bg-neutral-soft);
}

/* Eksplisitt bg-white for shadow DOM */
.bg-white {
  background-color: #ffffff;
}

p,
li {
  overflow-wrap: break-word;
}
