name: Deploy Pull Request Branch - innbyggers-flate
on:
  workflow_dispatch: # This workflow can be triggered manually from: https://github.com/navikt/amt-deltaker-flate/actions/workflows/deploy.yaml
  pull_request:
    paths-ignore:
      - .github/workflows/nav-veileders-flate-deploy.yaml
      - .github/workflows/nav-veileders-flate-pr-deploy.yaml
      - .github/workflows/nav-veileders-flate-pr-comment-link.yaml
      - .github/workflows/nav-veileders-flate-pr-cleanup.yaml
      - .github/workflows/nav-veileders-flate-deploy-poao-frontend-dev.yaml
      - .github/workflows/nav-veileders-flate-deploy-poao-frontend-prod.yaml
      - apps/nav-veileders-flate/**
      - .github/workflows/tiltakskoordinator-flate-deploy-poao-frontend-dev.yaml
      - .github/workflows/tiltakskoordinator-flate-deploy.yaml
      - .github/workflows/tiltakskoordinator-flate-pr-cleanup.yaml
      - .github/workflows/tiltakskoordinator-flate-pr-comment-link.yaml
      - .github/workflows/tiltakskoordinator-flate-pr-deploy.yaml
      - apps/tiltakskoordinator-flate/**
    branches:
      - main
env:
  CI: true
  TZ: Europe/Oslo

jobs:
  playwright-version:
    name: Get playwright version
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: apps/innbyggers-flate
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - uses: actions/checkout@v5
      - id: get-version
        run: echo "version=$(cat package.json | jq -r '.devDependencies.playwright' | sed -e 's/^[\^\~]//')" >> "$GITHUB_OUTPUT"

  deploy-pull-request-branch:
    if: github.event.pull_request.head.repo.fork != true
    name: Deploy Pull Request Branch - innbyggers-flate
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      id-token: 'write' # Used to authenticate with Google Cloud
    needs: playwright-version
    container:
      image: mcr.microsoft.com/playwright:v${{ needs.playwright-version.outputs.version }}-jammy
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup frontend
        uses: ./.github/actions/setup-frontend
        with:
          node_auth_token: ${{ secrets.READER_TOKEN }}
      - name: Build Pull Request Application
        run: pnpm build:pull-request --filter=innbyggers-flate -- --base=/arbeidsmarkedstiltak/pr-${{ github.event.number }}/
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/696882554390/locations/global/workloadIdentityPools/github/providers/github-action
          service_account: amt-deltaker-flate-gcs@amt-dev-d98f.iam.gserviceaccount.com
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v3
      - name: Upload files to GCS
        run: gsutil -m rsync -r apps/innbyggers-flate/build gs://amt-deltaker-innbyggers-flate-dev/pr-${{ github.event.number }}
