name: Deploy NAIS poao-frontend to DEV for innbyggers-flate
on:
  workflow_dispatch:
  push:
    paths:
      - '.github/workflows/innbyggers-flate-deploy-poao-frontend-dev.yaml'
      - apps/innbyggers-flate/nais/nais-dev.yaml
    branches:
      - main

jobs:
  deploy-dev:
    name: Deploy poao-frontend to DEV - innbyggers-flate
    runs-on: ubuntu-latest
    permissions:
      id-token: 'write' # Needed for `nais/deploy/actions/deploy`
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Deploy application
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: apps/innbyggers-flate/nais/nais-dev.yaml
          PRINT_PAYLOAD: true
