name: Deploy innbyggers-flate
on:
  workflow_dispatch: # This workflow can be triggered manually from: https://github.com/navikt/amt-deltaker-flate/actions/workflows/deploy.yaml
  push:
    paths-ignore:
      - .github/workflows/nav-veileders-flate-deploy.yaml
      - .github/workflows/nav-veileders-flate-pr-deploy.yaml
      - .github/workflows/nav-veileders-flate-pr-comment-link.yaml
      - .github/workflows/nav-veileders-flate-pr-cleanup.yaml
      - .github/workflows/nav-veileders-flate-deploy-poao-frontend-dev.yaml
      - .github/workflows/nav-veileders-flate-deploy-poao-frontend-prod.yaml
      - apps/nav-veileders-flate/**
    branches:
      - main
env:
  CI: true
  TZ: Europe/Amsterdam

jobs:
  test-lint-and-build:
    name: Test, lint and build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup frontend
        uses: ./.github/actions/setup-frontend
      - name: Lint
        run: pnpm lint
      - name: Run tests
        run: pnpm test:no-watch
      - name: Build
        run: pnpm build
      - name: Upload frontend asset files
        uses: actions/upload-artifact@v4
        with:
          name: frontend-assets
          path: apps/innbyggers-flate/build
          retention-days: 1

  deploy-dev-innbyggers-flate:
    name: Deploy innbyggers-flate to dev
    runs-on: ubuntu-latest
    needs: test-lint-and-build
    permissions:
      id-token: 'write' # Used to authenticate with Google Cloud
    steps:
      - name: Download frontend asset files
        uses: actions/download-artifact@v4
        with:
          name: frontend-assets
          path: apps/innbyggers-flate/build
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/696882554390/locations/global/workloadIdentityPools/github/providers/github-action
          service_account: amt-deltaker-flate-gcs@amt-dev-d98f.iam.gserviceaccount.com
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
      - name: Upload files to GCS
        run: gsutil -m rsync -r apps/innbyggers-flate/build gs://amt-deltaker-innbyggers-flate-dev

  deploy-demo-innbyggers-flate:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup frontend
        uses: ./.github/actions/setup-frontend
      - name: Lint
        run: pnpm lint
      - name: Run tests
        run: pnpm test:no-watch
      - name: Build
        run: pnpm build:demo --filter=innbyggers-flate
      - uses: navikt/frontend/actions/spa-deploy/v2@main
        with:
          app: amt-deltaker-innbyggers-flate
          team: amt
          source: apps/innbyggers-flate/build
          ingress: https://amt-deltaker-innbyggers-flate.ekstern.dev.nav.no
          environment: dev
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
