name: Deploy innbyggers-flate
on:
  workflow_dispatch: # This workflow can be triggered manually from: https://github.com/navikt/amt-deltaker-flate/actions/workflows/deploy.yaml
  push:
    paths-ignore:
      - .github/workflows/nav-veileders-flate-deploy.yaml
      - .github/workflows/nav-veileders-flate-pr-deploy.yaml
      - .github/workflows/nav-veileders-flate-pr-comment-link.yaml
      - .github/workflows/nav-veileders-flate-pr-cleanup.yaml
      - .github/workflows/nav-veileders-flate-deploy-poao-frontend-dev.yaml
      - .github/workflows/nav-veileders-flate-deploy-poao-frontend-prod.yaml
      - apps/nav-veileders-flate/**
      - .github/workflows/tiltakskoordinator-flate-deploy-poao-frontend-dev.yaml
      - .github/workflows/tiltakskoordinator-flate-deploy.yaml
      - .github/workflows/tiltakskoordinator-flate-pr-cleanup.yaml
      - .github/workflows/tiltakskoordinator-flate-pr-comment-link.yaml
      - .github/workflows/tiltakskoordinator-flate-pr-deploy.yaml
      - apps/tiltakskoordinator-flate/**
    branches:
      - main
env:
  CI: true
  TZ: Europe/Amsterdam

jobs:
  playwright-version:
    name: Get playwright version
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: apps/innbyggers-flate
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - uses: actions/checkout@v5
      - id: get-version
        run: echo "version=$(cat package.json | jq -r '.devDependencies.playwright' | sed -e 's/^[\^\~]//')" >> "$GITHUB_OUTPUT"

  test-and-lint:
    name: Test and lint
    runs-on: ubuntu-latest
    needs: playwright-version
    container:
      image: mcr.microsoft.com/playwright:v${{ needs.playwright-version.outputs.version }}-jammy
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup frontend
        uses: ./.github/actions/setup-frontend
        with:
          node_auth_token: ${{ secrets.READER_TOKEN }}
      - name: Lint
        run: pnpm lint
      - name: Run tests
        run: pnpm test:no-watch --filter=innbyggers-flate
      - name: Run playwright tests
        run: pnpm playwright --filter=innbyggers-flate

  deploy-dev-innbyggers-flate:
    name: Deploy innbyggers-flate to DEV
    runs-on: ubuntu-latest
    needs: test-and-lint
    permissions:
      id-token: 'write' # Used to authenticate with Google Cloud
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup frontend
        uses: ./.github/actions/setup-frontend
        with:
          node_auth_token: ${{ secrets.READER_TOKEN }}
      - name: Build
        run: pnpm build:dev --filter=innbyggers-flate
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: projects/696882554390/locations/global/workloadIdentityPools/github/providers/github-action
          service_account: amt-deltaker-flate-gcs@amt-dev-d98f.iam.gserviceaccount.com
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
      - name: Upload files to GCS
        run: gsutil -m rsync -r apps/innbyggers-flate/build gs://amt-deltaker-innbyggers-flate-dev

  deploy-demo-innbyggers-flate:
    if: github.ref == 'refs/heads/main'
    name: Deploy innbyggers-flate DEMO
    runs-on: ubuntu-latest
    needs: test-and-lint
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup frontend
        uses: ./.github/actions/setup-frontend
        with:
          node_auth_token: ${{ secrets.READER_TOKEN }}
      - name: Build
        run: pnpm build:demo --filter=innbyggers-flate
      - uses: nais/deploy/actions/cdn-upload/v2@master
        with:
          team: amt
          source: apps/innbyggers-flate/build
          source_keep_parent_name: false
          destination: amt-deltaker-innbyggers-flate/dev
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}

  deploy-prod-innbyggers-flate:
    if: github.ref == 'refs/heads/main'
    name: Deploy innbyggers-flate to PROD
    runs-on: ubuntu-latest
    needs: test-and-lint
    permissions:
      id-token: 'write' # Used to authenticate with Google Cloud
      contents: 'write' # Create release
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup frontend
        uses: ./.github/actions/setup-frontend
        with:
          node_auth_token: ${{ secrets.READER_TOKEN }}
      - name: Build
        run: pnpm build --filter=innbyggers-flate
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: projects/337368476147/locations/global/workloadIdentityPools/github/providers/github-action
          service_account: amt-deltaker-flate-gcs@amt-prod-d4dd.iam.gserviceaccount.com
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
      - name: Upload files to GCS
        run: gsutil -m rsync -r apps/innbyggers-flate/build gs://amt-deltaker-innbyggers-flate-prod
