name: Branch Lint, Test and Build
on:
  push:
    branches-ignore:
      - main
env:
  CI: true
  TZ: Europe/Amsterdam

jobs:
  lint-and-test:
    name: Lint, run tests & build
    runs-on: ubuntu-latest
    needs: playwright-version
    container:
      image: mcr.microsoft.com/playwright:v1.44.0-jammy
    timeout-minutes: 15

    permissions:
      contents: 'read'
      id-token: 'write'
      packages: 'write'

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup frontend
        uses: ./.github/actions/setup-frontend
        with:
          node_auth_token: ${{ secrets.READER_TOKEN }}
      - name: Lint
        run: pnpm lint
      - name: Run tests
        run: pnpm test:no-watch
      - name: Run playwright tests
        run: pnpm playwright
      - name: Build
        run: pnpm build
