name: Branch Lint, Test and Build
on:
  push:
    branches-ignore:
      - main
env:
  CI: true
  TZ: Europe/Amsterdam

jobs:
  playwright-version:
    name: Get playwright version
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: apps/nav-veileders-flate
    outputs:
      version: ${{ steps.get-version.outputs.version }}
    steps:
      - uses: actions/checkout@v5
      - id: get-version
        run: echo "version=$(cat package.json | jq -r '.devDependencies.playwright' | sed -e 's/^[\^\~]//')" >> "$GITHUB_OUTPUT"

  lint-and-test:
    name: Lint, run tests & build
    needs: playwright-version
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      contents: 'read'
      id-token: 'write'
      packages: 'write'
    container:
      image: mcr.microsoft.com/playwright:v${{ needs.playwright-version.outputs.version }}-jammy
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup frontend
        uses: ./.github/actions/setup-frontend
        with:
          node_auth_token: ${{ secrets.READER_TOKEN }}
      - name: Lint
        run: pnpm lint
      - name: Run tests
        run: pnpm test:no-watch
      - name: Run playwright tests
        run: pnpm playwright
      - name: Build
        run: pnpm build
