name: Deploy NAIS poao-frontend to prod for nav-veileders-flate
on:
  workflow_dispatch:
  push:
    paths:
      - apps/nav-veileders-flate/nais/nais-prod.yaml
      - ".github/workflows/nav-veileders-flate-deploy-poao-frontend-prod.yaml"

jobs:
  deploy-prod:
    name: Deploy poao-frontend to prod
    if: false # venter med denne til vi er i prod
    runs-on: ubuntu-latest
    permissions:
      id-token: "write"
    if: github.ref == 'refs/heads/main'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Deploy application
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: prod-gcp
          RESOURCE: apps/nav-veileders-flate/nais/nais-prod.yaml
          PRINT_PAYLOAD: true
