name: Deploy nav-veileders-flate
on:
  workflow_dispatch: # This workflow can be triggered manually from: https://github.com/navikt/amt-deltaker-flate/actions/workflows/deploy.yaml
  push:
    paths-ignore:
      - .github/workflows/innbyggers-flate-deploy.yaml
      - .github/workflows/innbyggers-flate-deploy-poao-frontend-dev.yaml
      - .github/workflows/innbyggers-flate-deploy-poao-frontend-demo.yaml
      - .github/workflows/innbyggers-flate-pr-deploy.yaml
      - .github/workflows/innbyggers-flate-pr-comment-link.yaml
      - .github/workflows/innbyggers-flate-pr-cleanup.yaml
      - apps/innbyggers-flate/**
    branches:
      - main
env:
  CI: true
  TZ: Europe/Amsterdam

jobs:
  test-and-lint:
    name: Test and lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup frontend
        uses: ./.github/actions/setup-frontend
        with:
          node_auth_token: ${{ secrets.READER_TOKEN }}
      - name: Lint
        run: pnpm lint
      - name: Run tests
        run: pnpm test:no-watch

  deploy-dev-nav-veileders-flate-GAMMEL-BOTTE:
    name: Deploy nav-veileders-flate to dev
    runs-on: ubuntu-latest
    needs: test-and-lint
    permissions:
      id-token: 'write' # Used to authenticate with Google Cloud
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup frontend
        uses: ./.github/actions/setup-frontend
        with:
          node_auth_token: ${{ secrets.READER_TOKEN }}
      - name: Build
        run: pnpm build:dev --filter=nav-veileders-flate
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/696882554390/locations/global/workloadIdentityPools/github/providers/github-action
          service_account: amt-deltaker-flate-gcs@amt-dev-d98f.iam.gserviceaccount.com
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
      - name: Upload files to GCS
        run: gsutil -m rsync -r apps/nav-veileders-flate/build gs://amt-deltaker-flate-dev-v2

  deploy-demo-nav-veileders-flate:
    runs-on: ubuntu-latest
    needs: test-and-lint
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup frontend
        uses: ./.github/actions/setup-frontend
        with:
          node_auth_token: ${{ secrets.READER_TOKEN }}
      - name: Build
        run: pnpm build:demo --filter=nav-veileders-flate
      - uses: navikt/frontend/actions/spa-deploy/v2@main
        with:
          app: amt-deltaker-nav-veilderes-flate
          team: amt
          source: apps/nav-veileders-flate/build
          ingress: https://amt-deltaker-nav-veileders-flate.ekstern.dev.nav.no
          environment: dev
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}

  deploy-prod-nav-veileders-flate:
    name: Deploy nav-veileders-flate to prod
    runs-on: ubuntu-latest
    needs: deploy-dev-nav-veileders-flate
    if: github.ref == 'refs/heads/main' && false # venter med denne til vi er i prod
    permissions:
      id-token: 'write' # Used to authenticate with Google Cloud
      contents: 'write' # Create release
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup frontend
        uses: ./.github/actions/setup-frontend
        with:
          node_auth_token: ${{ secrets.READER_TOKEN }}
      - name: Build
        run: pnpm build --filter=nav-veileders-flate
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/337368476147/locations/global/workloadIdentityPools/github/providers/github-action
          service_account: amt-deltaker-flate-gcs@amt-prod-d4dd.iam.gserviceaccount.com
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
      - name: Upload files to GCS
        run: gsutil -m rsync -r apps/nav-veileders-flate/build gs://amt-deltaker-flate-prod
      - name: Create release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: release/prod@${{ github.sha }}
          release_name: Release to prod
          prerelease: false
