name: Deploy Pull Request Branch - nav-veileders-flate
on:
  workflow_dispatch: # This workflow can be triggered manually from: https://github.com/navikt/amt-deltaker-flate/actions/workflows/deploy.yaml
  pull_request:
    paths:
      - .github/actions/**
      - .github/workflows/nav-veileders-flate-pr-deploy.yaml
      - package.json
      - package-lock.json
      - turbo.json
      - apps/nav-veileders-flate/**
    branches:
      - main
env:
  CI: true
  TZ: Europe/Oslo

jobs:
  deploy-pull-request-branch:
    if: github.event.pull_request.head.repo.fork != true
    name: Deploy Pull Request Branch - nav-veileders-flate
    runs-on: ubuntu-latest
    timeout-minutes: 15
    permissions:
      id-token: 'write' # Used to authenticate with Google Cloud
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup frontend
        uses: ./.github/actions/setup-frontend
      - name: Build Pull Request Application
        run: pnpm build:pull-request -- --base=/pr-${{ github.event.number }}/ --filter=nav-veileders-flate
      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: projects/696882554390/locations/global/workloadIdentityPools/github/providers/github-action
          service_account: amt-deltaker-flate-gcs@amt-dev-d98f.iam.gserviceaccount.com
      - name: Set up Cloud SDK
        uses: google-github-actions/setup-gcloud@v2
      - name: Upload files to GCS
        run: gsutil -m rsync -r apps/nav-veileders-flate/build gs://amt-deltaker-flate-dev/pr-${{ github.event.number }}
