name: Deploy NAIS poao-frontend to DEV for nav-veileders-flate
on:
  workflow_dispatch:
  push:
    paths:
      - ".github/workflows/nav-veileders-flate-deploy-poao-frontend-dev.yaml"
      - apps/nav-veileders-flate/nais/nais-dev.yaml

jobs:
  deploy-dev:
    name: Deploy poao-frontend to DEV - nav-veileders-flate
    runs-on: ubuntu-latest
    permissions:
      id-token: "write" # Needed for `nais/deploy/actions/deploy`
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Deploy application
        uses: nais/deploy/actions/deploy@v2
        env:
          CLUSTER: dev-gcp
          RESOURCE: apps/nav-veileders-flate/nais/nais-dev.yaml
          PRINT_PAYLOAD: true
